/build-Welcome-Desktop_Qt_5_2_1_MinGW_32bit-Debug
/build-PatientInput-Desktop_Qt_5_2_1_MinGW_32bit-Debug
/ivanov/build-fill_out-Desktop_Qt_5_2_1_MinGW_32bit-Debug
/ivanov/build-fill_out-Desktop_Qt_5_2_1_MinGW_32bit-Debug/debug/*.exe
/ivanov/build-fill_out-Desktop_Qt_5_2_1_MinGW_32bit-Debug/debug/fill_out.exe
